<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="RENODE_CUSTOM_SCRIPTS" value="${env_var:SC_INSTALL_DIR}/renode-microchip-mods"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${env_var:RENODE_BINARY_LAUNCHER}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="${env_var:RENODE_BINARY_ARGUMENT} ${project_loc}/renode/pf-soc-usb-platform.resc"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${eclipse_home}../renode/bin"/>
</launchConfiguration>
