menu "General Configuration Options"
config OPENSBI
	bool "OpenSBI support"
	default y
	help
		This feature enables support for the RISC-V OpenSBI.

		If you don't know what to do here, say Y.

config USE_IHC
	bool "Use MiV Inter-hart Communication"
	default y
	help
		Enable MiV Inter-Hart Communication (IHC)

menu "OpenSBI"
config PROVIDE_DTB
	bool "Provide a DTB for OpenSBI"
	depends on OPENSBI
	default n
	help
		This feature enabling the building in of a device tree blob and the provision
		of this blob to OpenSBI via the a1 register.

                If this isn't needed, it is possible to save some space by removing it.

		If you don't know what to do here, say Y.

config DEFAULT_DEVICE_TREE
	string "hifive-unleashed-a00-freedom-u540.dtb"
	depends on PROVIDE_DTB
	help
		This option specifies the default Device Tree to be used.
endmenu

config SUPERLOOP_IN_U_MODE
	bool "Run Superloop in U-Mode"
	default n
	help
		Experimental: This feature runs the HSS superloop in U-Mode.

		If you don't know what to do here, say N for now.

menu "Memory Options"
config MEMTEST
	bool "DDR Memory Tester"
	default n
	help
		This feature enables a simple walking 1's style memory tester for the DDR.
          
		If you don't know what to do here, say N.

config IPI_MAX_NUM_QUEUE_MESSAGES
	int "Maximum number of outstanding IPI queue messages"
	default 128
	help
		This feature determines the maximum number of queue messages
		supported for IPIs from different harts.

config IPI_FIXED_BASE
	bool "Fix IPI Base address"
	default y
        help
		Use a fixed base address for the IPI-based Secure Signalling Message Bus.

config IPI_BASE_ADDR
	hex "Base address for IPI Queueus"
	default 0xC0000000
	depends on IPI_FIXED_BASE
        help
		Specify the fixed base address for the IPI-based Secure Signalling Message Bus.

config USE_PDMA
	bool "Use PDMA for memory-to-memory transfers"
	default y
        help
		Use the PDMA for memory to memory transfers.

config INITIALIZE_MEMORIES
	bool "Initialize memories to zero"
	default y
        help
		Initialize memories to zero, to seed ECC.
		
		If you don't know what to do here, say N for now.

config USE_PCIE
	bool "Setup PCIe"
	default y
	help
		Setup the PCIe prior to application load
endmenu

endmenu
