mainmenu "Build Options"

menu "Build Options"

config COLOR_OUTPUT
        bool "Color log output"
        default y
        help
		This feature enables color for HSS output

		If you do not know what to do here, say Y.

config USE_LOGO
        bool "Display Logo"
        default y
        help
		This feature enables output for the Microchip logo.

		If you do not know what to do here, say Y.

menu "Logo"
config LOGO_INVERT_COLORS
	bool "Invert Logo colors"
        default n
        depends on USE_LOGO
        help
		This feature enables output for the Microchip logo, with
                white text.

		If you do not know what to do here, say N.
endmenu


config CC_STACKPROTECTOR_STRONG
	bool "Enable strong stack protection"
	default y
	help
		This feature enables strong stack checking on all function calls.

		If you do not know what to do here, say Y.

config CC_DUMP_STACKSIZE
	bool "Dump stack sizes"
	default n
	help
		This feature dumps information about the stack sizes

		If you do not know what to do here, say N.

config LD_RELAX
	bool "Use RISC-V Relaxing and the Global Pointer, GP"
	default n
        help
		The GP (Global Pointer) register optimises memory accesses within a single 4KB region.
		This size is 4K because RISC-V immediate values ar 12-bit signed values (+/- 2048)
		
		The linker uses the __global_pointer$ symbol definition to compare memory addresses
		and, if within range, it replaces absolute/pc-relative addressing with gp-relative
		addressing.
       		
		This can lead to smaller code size, but it does impose requirements on subsequent
		firmwares that they save/restore the GP.
		  
		If you do not know what to do here, say N.

config CC_USE_MAKEDEP
	bool "Enable make dependencies in build system"
	default y
	help
		This feature enables automatic dependencies in the Makefile. This will create *.d
                files - one for each source file - which contain the analysed dependencies for the
                source.  This improves source dependency checking during builds.

		If you do not know what to do here, say Y.

config CC_USE_GNU_BUILD_ID
	bool "Enable GNU Build ID in image"
	default y
	help
		This feature enables the generation of a GNU Build ID in binaries.

		If you do not know what to do here, say Y.

config CC_HAS_INTTYPES
	bool "Use inttypes.h"
	default y
	help
		This features uses the inttypes.h header file from the toolchain. 

		If the toolchain does not provide inttypes.h, say N here.

config DISPLAY_TOOL_VERSIONS
	bool "Display Compiler and Linker tool version information at startup."
	default y
	help
		This features displays compiler and linker tool version information at startup.

		If you do not know what to do here, say Y.

endmenu
