menu "Services"

source "services/beu/Kconfig"
source "services/boot/Kconfig"
source "services/crypto/Kconfig"
source "services/ddr/Kconfig"
source "services/flashfreeze/Kconfig"
source "services/goto/Kconfig"
source "services/ipi_poll/Kconfig"
source "services/mmc/Kconfig"
source "services/opensbi/Kconfig"
source "services/powermode/Kconfig"
source "services/qspi/Kconfig"
source "services/scrub/Kconfig"
source "services/sgdma/Kconfig"
source "services/spi/Kconfig"
source "services/tinycli/Kconfig"
source "services/uart/Kconfig"
source "services/usbdmsc/Kconfig"
source "services/wdog/Kconfig"
source "services/ymodem/Kconfig"

endmenu
