config SERVICE_MMC
	bool "MMC support"
	default y
	help
                This feature enables support for booting via MMC.

		If you do not know what to do here, say Y.

menu "MMC"
	visible if SERVICE_MMC

menu "MMC Mode"

config SERVICE_MMC_MODE_EMMC
	bool "Use eMMC"
	default y
        depends on SERVICE_MMC
	help
                This feature sets the MMC system to use eMMC.
                This option is mutually exclusive with SERVICE_MMC_MODE_SDCARD.

		If you do not know what to do here, say Y.

config SERVICE_MMC_MODE_SDCARD
	bool "Use SDCard"
	default y
        depends on SERVICE_MMC
	help
                This feature sets the MMC system to use SDCard.
                This option is mutually exclusive with SERVICE_MMC_MODE_EMMC.

		If you do not know what to do here, say N.

endmenu

menu "MMC Voltage"

config SERVICE_MMC_BUS_VOLTAGE_1V8
	bool "Use 1.8V Bus Voltage with MMC"
	default n
        depends on SERVICE_MMC
	help
                This feature sets the bus voltage for MMC to 1.8V.
                This option is mutually exclusive with SERVICE_MMC_BUS_VOLTAGE_3V3.

		If you do not know what to do here, say N.

config SERVICE_MMC_BUS_VOLTAGE_3V3
	bool "Use 3.3V Bus Voltage with MMC"
	default y
        depends on SERVICE_MMC && !SERVICE_MMC_BUS_VOLTAGE_1V8
	help
                This feature sets the bus voltage for MMC to 3.3V.
                This option is mutually exclusive with SERVICE_MMC_BUS_VOLTAGE_1V8..

		If you do not know what to do here, say Y.
endmenu

menu "SDIO Control"

config SERVICE_SDIO_REGISTER_PRESENT
	bool "SDIO register present"
	default n
        depends on SERVICE_MMC_MODE_SDCARD && SERVICE_MMC_MODE_EMMC
	help
                This feature will enable the use of a register in the FPGA fabric for SDIO control.

		If this register is not present and this option is enabled the HSS will fail to boot.

config SERVICE_SDIO_REGISTER_ADDRESS
	hex "Memory mapped address of SDIO register"
	default 0x4f000000
	depends on SERVICE_MMC_MODE_SDCARD && SERVICE_MMC_MODE_EMMC && SERVICE_SDIO_REGISTER_PRESENT
        help
                This value represents the memory mapped address of a register in the FPGA fabric.
                This register is used to select between eMMC and SD card when a de-mux is present on a board.
                
endmenu

endmenu
