config SERVICE_QSPI
	bool "Boot from QSPI NAND flash support"
	default y
	help
                This feature enables support for booting via QSPI NAND Flash.
                Currently the Winbond W25N01GV is supported.

		If you do not know what to do here, say Y.

menu "QSPI"
	visible if SERVICE_QSPI

choice
	prompt "QSPI Driver"
	default SERVICE_QSPI_WINBOND_W25N01GV

config SERVICE_QSPI_WINBOND_W25N01GV
	bool "Winbond W25N01GV"
	depends on SERVICE_QSPI
	help
		This feature enables support for Winbond W25N01GV SPI NAND flash.

		If you don't know what to do here, say Y.

config SERVICE_QSPI_MICRON_MQ25T
	bool "Micron MQ25T"
	depends on SERVICE_QSPI
	help
		This feature enables support for Micron MQ25T SPI NOR flash.

		If you don't know what to do here, say N.

config SERVICE_QSPI_WINBOND_W25N01GV_FPGA
	bool "Winbond W25N01GV FPGA"
	depends on SERVICE_QSPI
	help
		This feature enables support for Winbond W25N01GV SPI NAND flash in FPGA.

		If you don't know what to do here, say N.

endchoice

endmenu
