config SERVICE_QSPI
	bool "Boot from QSPI NAND flash support"
	default y
	help
                This feature enables support for booting via QSPI NAND Flash.
                Currently the Winbond W25N01GV is supported.

		If you do not know what to do here, say Y.
