config SERVICE_USBDMSC
	bool "USBD-MSC support"
	default n
        depends on SERVICE_TINYCLI && (SERVICE_MMC || SERVICE_QSPI)
	help
		This feature enables USBD-MSC support to expose eMMC/SDCard over USB.
          
		If you do not know what to do here, say N.

menu "USB Device Mass Storage Class"
	visible if SERVICE_USBDMSC

config SERVICE_USBDMSC_ENABLE_MAX_SESSION_TIMEOUT
	bool "Apply timeout to USBDMSC"
	default n
	help
		This feature will ensure that accidentally leaving USBDMSC running
		too long will cause it to disconnect.

		If you do not know what to do here, say N.

config SERVICE_USBDMSC_MAX_SESSION_TIMEOUT
	int "Timeout for USBDMSC prompt (in seconds)"
        default 3600
        depends on SERVICE_USBDMSC_ENABLE_MAX_SESSION_TIMEOUT
        range 0 10000000
	help
		This value controls the maximum time in seconds that USBDMSC is
		allowed to run before it auto-disconnects.

endmenu
