menu "Custom Board Design Configuration Options"

config SOC_FPGA_DESIGN_XML
	string "Enter path to Libero XML file"
	default "boards/no_som1soc/soc_fpga_design/xml/no_som1soc.xml"
	help
		This option specifies the design XML file to use.
endmenu

