config SERVICE_GOTO
	def_bool y
	help
                This feature enables support for the E51 to instruct a U54 application hart to 
                execute code in an aribtrary location of memory. This is enabled by default.
