config SERVICE_GPIO_UI
	bool "GPIO User Interface support"
	default n
	help
		This feature enables a simple user interface using GPIOs (LEDs and buttons).
                This is automatically disabled if SERVICE_TINYCLI is selected
          
		If you do not know what to do here, say N.
